.Weather {
    background: #fdedee;
    border: 1px solid #fdedee;
    border-radius: 4px;
    color: #1a116b;
    font-family: Exo;
    padding: 16px;
}

.Weather form {
margin-bottom: 20px;
}

.Weather .button-color {
    background-color: #434385;
    color:#fdedee;
}

.Weather h1 {
    font-family: Exo;
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 29px;
    list-style: none;
}

.Weather canvas {
    display: inline-block;
    margin: 16px 0 0 0px;
}

.Weather .temperature {
    font-size: 50px;
}

.Weather .unit{
    font-weight: 16px;
    font-weight: 400;
    position: relative;
    top:-32px;
}